{% extends 'base.html.twig' %}
{% block title %}Incio - Profesores{% endblock %}
{% block container %}
    <div class="row">
        <table class="table table-bordered table-hover">
            <thead>
            <tr class="text-center">
                <th scope="col">NIF</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Correo</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
{% endblock %}