{% extends 'base.html.twig' %}
{% block title %}Nuevo - Alumnos{% endblock %}
{% block body %}
    {% block container %}
        <div class="container mt-4">
            {{ form_start(form, { attr: {novalidate: 'novalidate'}}) }}
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    {% endblock %}
{% endblock %}